.addon-text {
    color: #a9a9aa;
    font-weight: 600;
    font-size: 14px;
  }
  
  .addon-span {
    color: #ffffff;
  }
  
  .contact-space__addon {
    display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 80px;
      background-color: #000000;
  }

  .other-footer {
    padding-top: 60px;
}

.color-dark {
  color: #111214;
}

  @media screen and (width <= 450px) {
    .addon-text {
        text-align: center;
      }

     .other-footer {
      padding-top: 0;
     } 

  }