@import 'https://fonts.googleapis.com/css2?family=Anton&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat&display=swap';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}


.color-dark {
  color: #111214;
}


.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

img {
  width: 100%;
}

.color-red {
  color: #fe390c;
}

.button-red {
  padding: 14px 27px;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  background: #fe390c;
  border: 0;
  cursor: pointer;
}

.section-title {
  display: flex;
  gap: 24px;
  align-items: center;
    

  &__item {
    font-weight: 400;
    font-size: 40px;
    font-family: Anton, sans-serif;
    text-transform: uppercase;
  }

  &__item--span {
    font-size: 80px;
    font-family: Anton, sans-serif;
  }
}

.bg-grey {
  background-color: #f7f7f7;
}

.slider-dots {
  display: flex;
  gap: 4px;

  &__item {
    width: 15px;
    height: 3px;
    background-color: #e0e0e0;
  }
}

.slider-dots__item--active {
  background-color: #fe390c;
}

.arrow {
  display: flex;
  gap: 24px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fe390c;
    cursor: pointer;
  }

  &__img {
    width: 15px;
  }
}

.details-numbers {
  &__span {
    font-size: 64px;
    font-family: Anton, sans-serif;
  }

  &__text {
    color: #111214;
    font-weight: 600;
    font-size: 14px;
  }

  &__wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
  }
}



@media screen and (width <= 1000px) {
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (width <= 600px) {
  .container {
    padding-right: 5px;
    padding-left: 5px;
  }

  .arrow {
    justify-content: center;
    width: 100%;
  }
}

@media screen and (width <= 450px) {
  .arrow {
    justify-content: flex-end;
  }

  .section-title__item--span {
    font-size: 64px;
  }

  .section-title__item {
    font-size: 32px;
  }

  .section-title {
    gap: 12px;
  }
}